/* Start Global Media */
@media (max-width: 767px){
    .vis-xe-b{
        display: block !important;
    }
    .vis-xe-i{
        display: inline !important;
    }
    .vis-xe-ib{
        display: inline-block !important;
    }
    .hid-xe{
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
    .vis-sm-i{
        display: block !important;
    }
    .vis-sm-b{
        display: inline !important;
    }
    .vis-sm-ib{
        display: inline-block !important;
    }
    .hid-sm{
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container{
        width: 970px;
    }
    .vis-md-i{
        display: block !important;
    }
    .vis-md-b{
        display: inline !important;
    }
    .vis-md-ib{
        display: inline-block !important;
    }
    .hid-md{
        display: none !important;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
    .vis-lg-i{
        display: block !important;
    }
    .vis-lg-b{
        display: inline !important;
    }
    .vis-lg-ib{
        display: inline-block !important;
    }
    .hid-lg{
        display: none !important;
    }
}
/* End Global Media */

/* Start Header */
@media (max-width: 991px)
{
    .logo {
        padding: 10px 0;
        text-align: center;
        display: block;
        width: 100%;
    }
    header nav {
        width: 100%;
    }
    header nav > li > a{
        padding: 10px 10px;
        font-size: .7em
    }

    header nav .mega-menu {
        flex-direction: column;
        gap: 0;
    }

    header nav .mega-menu ul {
        width: 100%;
        padding: 0 10px;
    }

    header nav .mega-menu ul:not(:last-child) li {
        border-bottom: 1px solid #ddd;
    }

    header nav .mega-menu ul li a {
        padding: 12px 0;
    }
}
/* End Header */

/* Start Landing */
@media (max-width: 991px) {
    .landing .info-text {
        flex: 1;
        text-align: center;
    }

    .landing .info-text h1 {
        font-size: 1.4em;
    }

    .landing .info-text p {
        font-size: .8em;
        line-height: 2;
        max-width: 100%;
    }
}
/* End Landing */