/* Start Global Css */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Fraunces', serif;; */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    --main-color: hsl(158, 36%, 37%);
    --font-color: hsl(212, 21%, 14%);
    --font-color-alt: hsl(228, 12%, 48%);
    --bg-color: hsl(30, 38%, 92%);
}

body {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--bg-color);
}
.container {
    padding: 0 15px;
    margin: auto;
}
/* End Global Css */

/* ٍStart Product */
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(565px, 1fr));
    gap: 10px;
}

main .product {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

main .product img {
    max-width: 100%;
}

main .product .product-info {
    flex-basis: 50%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 40px 30px 20px;
}

main .product .product-info .product-type {
    text-transform: uppercase;
    color: var(--font-color-alt);
    letter-spacing: .5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
main .product .product-info h1 {
    color: var(--font-color);
    text-transform: capitalize;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

main .product .product-info p {
    color: var(--font-color-alt);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

main .product .product-info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .product .product-info .new-price {
    color: var(--main-color);
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    margin-right: 20px;
}

main .product .product-info .old-price {
    color: var(--font-color-alt);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}

main .product .product-info .cart-add {
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
    color: #fff;
    padding: 18px 15px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s ease;
}

main .product .product-info .cart-add:hover {
    background-color: var(--font-color);
}

main .product .product-info .cart-add i {
    margin-right: 10px;
    font-size: 1.4em;
}
/* End Product */